/*--- root ---*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: "work sans", sans-serif;
    background-color: #1E1E1E;
    box-sizing: border-box;

}
img{
    width: 15%;
    height: auto;
    margin: 20px;
    border-radius: 10px ;
}

/*--- header ---*/

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #000000aa;
    color: #ffffff;
}

nav h2{
    width: 30%;
}

nav ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    width: 30%;
}

.wallet-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

.wallet-container button{
    width: 160px;
    height: 30px;
    border-radius: 25px;
    border: 1px #ffffff solid;
    background: none;
    color: #ffffff;
}


/*--- main ---*/


.main-tittle{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.main-tittle button{
    height: 40px;
    width: 160px;
    border-radius: 25px;
    border: 1px #ffffff solid;
    background-color: #000000aa;
    background: #D7FC6E;
    gap: 0 5px;
}

section{
    margin: 10px 10%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.info-ticket-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-ticket-container p{
    margin: 5px 0;
}
.info-ticket-container h3{
    margin: 5px 0;
}

.ticket-container{
    z-index: 2;
    border-radius: 10px ;
    border: 2px #ffffff solid;
    background-color: #ffffff66;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.circle-left{
    background-color: #1E1E1E;
    width: 100px;
    height: 100px;
    border-radius: 0 100px 100px 0 ;
    border-right: 2px #ffffff solid;
    border-top: 2px #ffffff solid;
    border-bottom: 2px #ffffff solid;
    margin: 40px 0;
}

.circle-right{
    background-color: #1E1E1E;
    width: 100px;
    height: 100px;
    border-radius: 120px 0 0 120px ;
    border-left: 2px #ffffff solid;
    border-top: 2px #ffffff solid;
    border-bottom: 2px #ffffff solid;
    margin: 40px 0;
}